<div class="footer">
  <div class="logo">
    <img src="/assets/Logo Katbag.jpg" alt="" />
    <div class="connect">
      <h2>Connect with Us</h2>
      <a href="https://www.instagram.com/katbag.id" target="_blank"
        ><i class="bi bi-instagram"></i
      ></a>
      <a href="https://wa.me/6287783005612" target="_blank"
        ><i class="bi bi-whatsapp"></i
      ></a>
      <a href="mailto:katunabag@gmail.com"><i class="bi bi-envelope"></i></a>
    </div>
  </div>
  <div class="contact-message">
    <h5>Message Us</h5>
    <div class="card">
      <div class="email">
        <label for="email">Email</label>
        <input type="text" name="email" />
      </div>
      <div class="name">
        <label for="name">Name</label>
        <input type="text" name="name" />
      </div>
      <div class="message">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
      </div>
      <div>
        <button type="submit">Send <i class="bi bi-send"></i></button>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="about">
      <h2>About</h2>
      <a [routerLink]="['about-us']">About Us</a>
    </div>
    <div class="maps">
      <h2>Find Us</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.257229164984!2d106.77682037573294!3d-6.360744362226848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69eed85555554b%3A0x455e8775075f8a05!2sKATBAG!5e0!3m2!1sen!2sus!4v1722410524250!5m2!1sen!2sus"
        width="400"
        height="250"
        style="border: 0; border-radius: 10px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
