<div class="about-us">
  <h1>About Us</h1>
  <div class="about-us-content">
    <p>
      Untuk wanita aktif yang ingin tampil casual namun tetap bergaya feminin,
      Katbag adalah pilihan yang sempurna. Dirancang dengan gaya sederhana namun
      chic, tas Katbag tidak hanya memudahkan mobilitas Anda sehari-hari, tetapi
      juga menambah sentuhan elegan pada setiap penampilan. Katbag akan hadir
      sebagai teman setia yang selalu melengkapi gaya Anda. Dengan material
      berkualitas dan desain yang simpel, Katbag memastikan Anda selalu siap
      menghadapi hari dengan penuh percaya diri. Pilihan tas yang ideal untuk
      aktivitas dinamis Anda – Katbag, karena menjadi aktif tak harus
      meninggalkan sisi feminin Anda.
    </p>
  </div>
</div>
