<div class="katbag-collections">
  <div class="title">
    <h1>Our Collections</h1>
  </div>
  <div class="collections">
    <div class="product-item">
      <img src="/assets/collection1.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection2.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection3.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection4.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection6.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection1.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection2.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection3.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection4.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
    <div class="product-item">
      <img src="/assets/collection6.jpg" alt="" />
      <div class="overlay">
        <span>Collection 1</span>
      </div>
    </div>
  </div>
</div>
