<div class="header-main">
  <div class="header-main-text">
    <h1>Pilihan Tepat Untuk</h1>
    <h1>Segala Aktifitasmu</h1>
    <button>
      <a
        href="https://linktr.ee/katbag?fbclid=PAZXh0bgNhZW0CMTEAAaZOxNIt6k2f8elFQXURhDbSDHayMv-V7ec4r_27yV50mJKzl5DiIW2seOw_aem_2-51nm5vBCWKOPmbKTK8mQ"
        target="_blank"
        >Shop Now</a
      >
    </button>
  </div>
  <div class="header-main-image">
    <img src="/assets/main-header-img.jpg" alt="" />
  </div>
</div>
<div class="main-content">
  <div class="main-content-new">
    <div class="new-title">
      <h1>It's NEW</h1>
    </div>
    <div class="new-product">
      <img src="/assets/new1.jpg" alt="" />
      <img src="/assets/new2.jpg" alt="" />
      <img src="/assets/new3.jpg" alt="" />
      <div class="more-product">
        <a [routerLink]="['new-collection']">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
        <span> Find More... </span>
      </div>
    </div>
  </div>
  <div class="main-content-collection">
    <div class="collection-title">
      <h1>Collection</h1>
    </div>
    <div class="collection-product">
      <img src="/assets/collection1.jpg" alt="" />
      <img src="/assets/collection2.jpg" alt="" />
      <img src="/assets/collection3.jpg" alt="" />
      <img src="/assets/collection4.jpg" alt="" />
      <!-- <img src="/assets/collection6.jpg" alt="" /> -->
      <div class="more-product">
        <a [routerLink]="['collections']">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
        <span> Find More... </span>
      </div>
    </div>
  </div>
  <div class="main-content-gift">
    <div class="gift-title">
      <h1>Gift Catalog</h1>
    </div>
    <div class="gift-img">
      <img src="/assets/giftcatalog2.jpg" alt="" />
      <div class="more-product">
        <a [routerLink]="['new-collection']">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
        <span> Find More... </span>
      </div>
    </div>
  </div>
</div>
