<div class="new-collection">
  <div class="title">
    <h1>New Collection</h1>
  </div>
  <div class="new-product">
    <div class="product-item">
      <img class="new-icon" src="/assets/new-icon.png" alt="" />
      <img class="main-img" src="/assets/new1.jpg" alt="" />
      <div class="overlay">
        <span>New 1</span>
      </div>
    </div>
    <div class="product-item">
      <img class="new-icon" src="/assets/new-icon.png" alt="" />
      <img class="main-img" src="/assets/new2.jpg" alt="" />
      <div class="overlay">
        <span>New 2</span>
      </div>
    </div>
    <div class="product-item">
      <img class="new-icon" src="/assets/new-icon.png" alt="" />
      <img class="main-img" src="/assets/new3.jpg" alt="" />
      <div class="overlay">
        <span>New 3</span>
      </div>
    </div>
    <div class="product-item">
      <img class="new-icon" src="/assets/new-icon.png" alt="" />
      <img class="main-img" src="/assets/new1.jpg" alt="" />
      <div class="overlay">
        <span>New 1</span>
      </div>
    </div>
    <div class="product-item">
      <img class="new-icon" src="/assets/new-icon.png" alt="" />
      <img class="main-img" src="/assets/new2.jpg" alt="" />
      <div class="overlay">
        <span>New 2</span>
      </div>
    </div>
    <div class="product-item">
      <img class="new-icon" src="/assets/new-icon.png" alt="" />
      <img class="main-img" src="/assets/new3.jpg" alt="" />
      <div class="overlay">
        <span>New 3</span>
      </div>
    </div>
    <div class="product-item">
      <img class="new-icon" src="/assets/new-icon.png" alt="" />
      <img class="main-img" src="/assets/new1.jpg" alt="" />
      <div class="overlay">
        <span>New 1</span>
      </div>
    </div>
    <div class="product-item">
      <img class="new-icon" src="/assets/new-icon.png" alt="" />
      <img class="main-img" src="/assets/new2.jpg" alt="" />
      <div class="overlay">
        <span>New 2</span>
      </div>
    </div>
  </div>
</div>
